
main{
  max-width: 1440px;
  margin: 0 auto;
  
}
.title{
margin-top: 20px;
margin-bottom: 10px;
text-align: center;
}

.counter{
  text-align: center;
}
.counter button{
  margin: 20px;
}

.counter h3{
  color: red;
}




